html {
    background-color: hsl(185, 41%, 84%);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

main {
    height: 70vh;
    padding: 30px;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    height: 500px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
}
