html {
    background-color: hsl(185, 41%, 84%);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

main {
    height: 70vh;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    max-width: 1000px;
    height: 500px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
}

.box {
    height: 100%;
    width: 48%;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.output {
    background-color: hsl(183, 100%, 15%);
    border-radius: 20px;
}

.wrapper-input {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.wrapper-input h2 {
    font-size: 14px;
    color: hsl(186, 14%, 43%);
    margin-bottom: 10px;
}

.wrapper-input small {
    position: absolute;
    display: none;
    color: #ff0000;
    font-size: 14px;
    right: 2px;
}

.wrapper-input small.active {
    display: block;
}

.box-input {
    position: relative;
}

.box-input input {
    width: 100%;
    height: 45px;
    padding: 20px;
    text-align: right;
    border: none;
    border-radius: 6px;
    background-color: hsl(180, 38%, 87%);
    color: hsl(183, 100%, 15%);
    font-size: 18px;
}

.box-input input::placeholder {
    color: hsl(183, 100%, 15%);
}

.box-input img {
    position: absolute;
    left: 20px;
    top: 15px;
}
